.moneyback_wrapper {
    max-width: 420px;
    margin: 20px auto;
    background-color: rgb(254, 254, 254);
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 70%);
    font-family: 'Plus Jakarta Sans';
    
}


.moneyback_info {
    border-bottom: 1px solid #a1a1a1;
}

.moneyback_info h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.moneyback_info p{
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 1.3;
}

.moneyback_photo {
    border: 1px solid #a1a1a1; 
    margin-top: 20px;
}

.photo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #a1a1a1;
}

.moneyback_photo_vima {
    width: 50%;
    border-right: 1px solid #a1a1a1;
}

.moneyback_photo_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #a1a1a1;
    position: relative;
    top: 0;
    left: 90px;
    -webkit-box-shadow: 2px 7px 10px 5px rgba(112, 112, 112, 0.2) inset;
    -moz-box-shadow: 2px 7px 10px 5px rgba(112, 112, 112, 0.2) inset;
    box-shadow: 2px 7px 10px 5px rgba(112, 112, 112, 0.2) inset;

}

.moneyback_photo_dot::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #a1a1a1;
    position: absolute;
    top: 0px;
    left: 20px;
}

.moneyback_photo_dot::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #a1a1a1;
    position: absolute;
    top: 0px;
    right: 20px;
}


.moneyback_photo_text p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding-left: 10px;
}

.moneyback_form {
    margin: 100px 0px 20px 0px;
}

.moneyback_form p {
    font-size: 14px;
    font-weight: 400;
    
}

.moneyback_form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
    outline: none;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
}

.moneyback_form input._error {
    box-shadow: 0 0 5px red;
}

.moneyback_protected {
    border-bottom: 1px solid #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyback_protected p img {
    width: 10px;
    height: 10px;
    margin-right: 3px;
}


.moneyback_protected p{
    font-size: 12px;
    text-align: center;
    margin: 20px 0px;
}

.moneyback_btn {
    margin: 30px 0px;
    text-align: center;
}

.moneyback_btn button {
    padding: 10px 35px;
    font-size: 18px;
    color: #fff;
    background-color: #0088ff;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.moneyback_btn button:hover {
    background-color: rgb(111, 0, 255);
}

.moneyback_cvc_que {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 0px 4px;
    position: relative;
    bottom: 4px;
}

.moneyback_cvc_que:hover:before {
    content: '3 numbers on the back of the card';
    display: flex;
    align-items: center;
    width: 230px;
    height: 50px;
    background-color: #e8e8e8;
    box-shadow: 0px 0px 7px 0px;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    position: absolute;
    top: 0px;
    left: 15px;
}

@media (max-width: 767px) {
    .moneyback_wrapper {
        max-width: 300px;
    }
    .moneyback_photo_dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #a1a1a1;
        position: relative;
        top: 0;
        left: 65px;
        -webkit-box-shadow: 2px 7px 10px 5px rgba(112, 112, 112, 0.2) inset;
        -moz-box-shadow: 2px 7px 10px 5px rgba(112, 112, 112, 0.2) inset;
        box-shadow: 2px 7px 10px 5px rgba(112, 112, 112, 0.2) inset;
    
    }
    
    .moneyback_photo_dot::after {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #a1a1a1;
        position: absolute;
        top: 0px;
        left: 20px;
    }
    
    .moneyback_photo_dot::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #a1a1a1;
        position: absolute;
        top: 0px;
        right: 20px;
    }
}