* {
    box-sizing: border-box;
}

body {
    overflow-anchor: none;
}

body.no-scroll {
    overflow: hidden;
}

/* header
=================== */

.header_bg {
    width: 100%;
    height: 100vh;
    background-image: url(images/more_photo/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}


.header_wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center; 
    position: fixed;
    top: 0;  
    z-index: 998;
}

.header {
    margin: 0px 30px 0px 30px;
}

.logo {
    color: rgb(223, 86, 0);
    font-family: 'Whisper', cursive;
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
    animation-name: logo;
    animation-duration: 1s;
    position: relative;
    z-index: 4;
    transition: all ease;
}

@keyframes logo{
    0%{
        top: -75px;
    }
    100%{
        top: 0px;
    }
}

.header_burger {
    display: none;
}

.nav  {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px 15px 5px 15px;
    font-family: 'Roboto';
    z-index: 3;
}


.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 400;
    vertical-align: middle;
    position: relative;
    transition: all 0.2s;

    animation-name: nav;
    animation-duration: 1s;
}

@keyframes nav{
    0%{
        top: -50px;
    }
    100%{
        top: 0px;
    }
}



.nav a:hover {
    font-weight: 600;
}



.header_inner {
    height: 100%;
    position: relative;
    text-align: center;
}

.header_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: 30px 0px;
}
.header_text {
    color: rgb(223, 86, 0);
    font-size: 48px;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 0px;
    font-family: 'Roboto';
    position: relative;
    

    animation-name: text;
    animation-duration: 1s;
}

@keyframes text{
    0%{
        top: -50px;
    }
    100%{
        top: 0px;
    }
}


.header_subtext {
    color: rgb(223, 86, 0);
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    margin: 50px 0px;
    font-family: 'Roboto';
    letter-spacing: 2px;
    line-height: 1.5;
    position: relative;

    animation-name: subtext;
    animation-duration: 1s;
}

@keyframes subtext{
    0%{
        top: -50px;
    }
    100%{
        top: 0px;
    }
}

.header_btn_in_room {
    padding: 20px;
}

.btn {
    padding: 20px 70px;
    background-color: rgb(223, 86, 0);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    text-decoration: none;

    animation-name: btn;
    animation-duration: 1s;
}

@keyframes btn{
    0%{
        top: -50px;
    }
    100%{
        top: 0px;
    }
}

.btn:hover {
    -webkit-box-shadow: 4px 11px 38px 34px rgba(236, 0, 0, 0.2);
    -moz-box-shadow: 4px 11px 38px 34px rgba(236, 0, 0, 0.2);
    box-shadow: 4px 11px 38px 34px rgba(236, 0, 0, 0.2);
    background-color: rgb(238, 137, 223);
    transition: .5s linear;
    
}
/* info 
====================*/

.info_wrapper {
    background-color: #fff;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
    margin: 50px 0px;
}   


.info_header {
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
}

.info_subheader {
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
    font-family: 'Whisper', cursive;
    font-weight: 400;
    margin: 50px 0px;
}

.info_subheader span {
    font-size: 40px;
    font-weight: 600;
    color: rgb(189, 60, 120);
}

.info_icon img{
    width: 100px;
}

.info_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
}


.info_main {
    width: 19%;
    padding: 20px; 
}

.info_icon {
    padding: 15px 5px;
}

.info_text {
    color: #000;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}

/* About
=================== */

.about_wrapper {
    margin: 20px 0px;
    background-color: #fff;
    border-top: 1px solid #000;
}

.about {
    margin: 100px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.about_slider {
    width: 495px;
    height: 100%;
    overflow: hidden;
}


.about_photo img {
    width: 100%;
}

.about_text {
    width: 530px;
}

.about_text_title {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
}

.about_text_par {
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    padding: 30px 0px;
    line-height: 1.5;
}

.about_text_suptitle {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
    margin: 105px 0px 25px 0px;
}

.about_text_subpar {
    color: #000;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
}

/* Rooms
==================== */

.rooms_wrapper {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(53, 46, 87),black);
}

.rooms_title {
    text-align: center;
    margin: 20px 0px;

}

.rooms_title h3 {
    color: #000;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 600;
}

.rooms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;
}

#rooms_item_bot {
    margin: 50px 0px;
}

.rooms_item {
    width: 30%;
    overflow: hidden;
    text-align: center;
    margin: 20px 0px;
}

.rooms_img {
    max-width: 700px;
    height: auto;
}

#top_sale {
    position: relative;
}

#top_sale span::before {
    content: 'Top SALE';
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 10;
}

.rooms_img img {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s;
    
}

.rooms_text {
    padding: 15px 0px;
}

.rooms_text p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
}

.rooms_text h3 {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    margin: 10px 0px;
}

.rooms_btn {
    width: 100%;
    margin: 20px 0px;
}

.rooms_btn button {
    margin: 5px 5px;
    padding: 10px 30px;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .5s linear;
    text-decoration: none;

    -webkit-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    -moz-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
     box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    
}

.rooms_btn a {
    margin: 5px 5px;
    padding: 10px 30px;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    border: none;
    border-radius: 5px;
    transition: .5s linear;
    text-decoration: none;

    -webkit-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    -moz-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
     box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    
}

.btn_rooms_one {
    background-color: rgb(255, 73, 1);
}

.btn_rooms_one:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.btn_rooms_one:hover {
    background-color: rgb(238, 137, 223);
    -webkit-box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
    -moz-box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
    box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
}

.btn_rooms_second {
    background-color: rgb(0, 115, 255);
}

.btn_rooms_second:hover {
    background-color: rgb(238, 137, 223);
    -webkit-box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
    -moz-box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
    box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
}

/* Photo
===================== */

.photo_wrapper {
    padding: 50px 0px;
    background-image: linear-gradient(#000, rgb(53, 46, 87),rgb(255, 255, 255));
}

.photo_title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 600;
    text-align: center;
    margin: 50px 0px;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.photo_item {
    width: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_img {
    width: 495px;

    transition: 0.2s;
}

.photo_img:hover {
    transform: scale(1.05);
}

/* Spoiler
================= */

.spoiler_title {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 600;
    margin: 20px 0px 40px 0px;
}

.spoiler_item {
    margin: 20px 30px 20px 30px;
    padding: 30px 10px 30px 10px;
    background-color: rgb(240, 239, 239);
    border: 1px solid #000;
    border-radius: 15px;

    -webkit-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    -moz-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
     box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
}

.spoiler_item h3 {
    color: #000;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.spoiler_item h3:before,
.spoiler_item h3:after {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease 0s;
}

.spoiler_item h3.active:before,
.spoiler_item h3.active:after {
    background-color: rgb(255, 73, 1);
}

.spoiler_item h3:before {
    transform: rotate(40deg); 
    right: 0px;
}

.spoiler_item h3.active:before {
    transform: rotate(-40deg); 
    right: 0px;
}

.spoiler_item h3:after {
    transform: rotate(-40deg); 
    right: 7px;
}

.spoiler_item h3.active:after {
    transform: rotate(40deg); 
    right: 7px;
}


.spoiler_item p {
    color: #000;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    display: none;
    margin: 50px 0px 0px 30px;
}

/* map 
==================*/
.map_item {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 100px 30px;
}

.map_info h3 {
    color: #000;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 10px;
}

.map_info p {
    color: #000;
    font-size: 14px;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.map_info .mapEm {
    margin-top: 30px;
    color: #000;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
}

.map_question {
    border: 2px solid rgb(87, 87, 87);
    border-radius: 15px;
    margin: 30px 0px;
    padding: 30px 30px;

    -webkit-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    -moz-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
     box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
}

.map_question input {
    padding: 7px 150px 7px 15px;
    margin-bottom: 15px;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 15px;
    
}

.map_question input:active {
    border: 2px solid rgb(87, 87, 87);
}

.map_question button {
    margin-top: 15px;
    padding: 7px 20px;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s linear;
    text-decoration: none;
    background-color: rgb(255, 73, 1);

    -webkit-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
    -moz-box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
     box-shadow: 9px 15px 13px -5px rgba(8, 8, 8, 0.2);
}

.map_question button:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    -webkit-box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
    -moz-box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
    box-shadow: 20px 12px 42px 9px rgba(246, 13, 13, 0.32);
}

.map_text {
    border: 2px solid rgb(87, 87, 87);
    border-radius: 15px;
    padding: 5px 150px 25px 15px;
}

/* Footer
=============== */
.footer_wrapper {
    width: 100%;
    background-color: rgb(240, 239, 239);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.footer_logo a{
    color: rgb(223, 86, 0);
    font-family: 'Whisper', cursive;
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
}

.footer_doc a {
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}

.footer_polit a {
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 30px;
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal.active {
    display: block;
}

.modal_rooms {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;

    transform: rotateX(90deg);
    transition: transform .2s linear;

    background-color: rgb(40, 40, 40);
}

.modal_work {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
}

.modal_work_preview {
    width: 100%;
    position: relative;

}

.modal_slider_photo {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.modal_close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;

    cursor: pointer;
    transition: transform .2s linear;
    z-index: 1000 !important;
}

.modal_close:hover {
    transform: rotate(90deg);
}

/* modal basket
============= */
.modal_basket {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 60px;
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal_basket.active {
    display: block;
}

.modal_basket_wrapper {
    max-width: 500px;
    margin: auto;
    padding: 30px 20px;
    font-family: 'Roboto';
    color: #fff;

    transform: rotateX(90deg);
    transition: transform .2s linear;

    background-color: rgb(40, 40, 40);
}



.modal_basket_hall {
    align-items: center;
    padding: 10px 0px;
}

.modal_basket_content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.modal_basket_content img {
    width: 80px;
    height:80px;
    border-radius: 10px;
}

.modal_basket_content p {
    margin-left: 10px;
}

.modal_basket_title{
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #fff;
}

.full_price {
    text-align: end;
    margin: 10px 0px 10px 0px;
}

.modal_basket_form {
    margin: 30px 0px;
    color: #fff;
    font-family: 'Roboto';
}

.basket_form {
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    position: relative;
}

.basket_form::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../css/images/load.gif) center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.basket_form._sending::after {
    opacity: 1;
    visibility: visible;
}

.basket_form p {
    font-size: 16px;
    padding-bottom: 5px;
    color: rgba(166, 166, 166, 0.7);
}

.basket_form input {
    width: 100%;
    font-size: 16px;
    padding: 20px 0px 20px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.basket_form input._error {
    box-shadow: 0 0 15px red;
}

.basket_form .basket_form_data {
    width: 40%;
}

.basket_form .basket_form_time {
    width: 40%;
}
.basket_form button {
    padding: 20px 0px 20px 0px;
    margin-top: 30px;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    text-decoration: none;
    background-color: rgb(255, 73, 1);
}

.basket_form button:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.modal_basket_info {
    text-align: center;
    margin: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.basket {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 80px;
    right: 40px;
    background-color: rgb(223, 86, 0);
    border-radius: 50%;
    z-index: 900;
    border: 2px solid #000;
    transition: all .2s ease-in;
}

.basket.active {
    display: block;
}


.basket:hover {
    transform: scale(1.1);
}
.basket .basket_quantity {
    font-size: 20px;
    color: red;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: -10px;
}

.basket img{
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 5px;
    color: aqua;
}


/* Media
============= */
@media (max-width:1200px) {
    .about_text_title {
        margin: 10px 0px;
    }
    .about_text_suptitle {
        font-size: 20px;
        margin: 10px 0px;
        text-align: right;
        letter-spacing: 1px;
    }
   
}

@media(max-width:1085px) {
    .asd {
        order: 2;
    }
    .qwer {
        order: 1;
    }
    .about {
        margin: 50px 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:992px) {
    .about {
        margin: 50px 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: wrap-reverse;
    }
    .qwe {
        order: 1;
    }
    .qwer {
        order: 2;
    }
    .qwert {
        order: 3;
    }
    .about_text_title {
        margin: 10px 0px;
    }
    .about_text_suptitle {
        font-size: 20px;
        margin: 10px 0px;
        text-align: right;
        letter-spacing: 1px;
    }
    .photo_item {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 885px) {
    .modal_work_preview {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .modal_slider_photo {
        width: 100%;
    } 
    .modal_slider_photo {
        width: 100%;
    }
    
}


@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        z-index: 4;
        margin-right: 15px;
    }
    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 13px;
    }
    .header_burger.active:before {
        transform: rotate(45deg);
        top: 13px;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_wrapper:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 4;
    }    
    .header_burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 4px;
        top: 13px;
        transition: all 0.2s;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
         width: 100%;
         height: 4px;
         left: 0;
         transition: all 0.5s; 
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(223, 86, 0);
        padding-top: 90px;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        overflow: auto;
    }

    .nav.active {
        top: 0;
    }
    .nav li {
        font-size: 30px;
        padding: 25px 5px;
    }
    .header_bg {
        width: 100%;
        height: 500px;
    }
    .header_wrapper {
        height: 50px;
    }
    .header {
        margin: 0px 15px 0px 15px;
    }
    .header_text {
        padding: 0px;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5;
    }
    .header_subtext {
        width: 350px;
        height: 100px;
        font-size: 14px;
        margin: 20px 0px;
    }
    .header_btn_in_room {
        padding: 10px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 400;
    }
    
    .info_header {
        font-size: 22px;
    }
    .info_subheader {
        font-size: 18px;
        margin: 30px 0px;
    }
    .info_subheader span {
        font-size: 30px;
    }
    .info_section {
        padding: 5px 0px;
    }
    .info_main {
        width: 50%;
        margin: 0 auto;
    }
    .info_icon_center {
        margin: 0 auto;
    }
    .info_text {
        font-size: 18px;
    }
    .about_wrapper {
        margin: 10px 0px;
    }
    .about {
        margin: 50px 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    .qwe {
        order: 1;
    }
    .qwer {
        order: 2;
    }
    .qwert {
        order: 3;
    }
    .about_text_title {
        margin: 10px 0px;
        font-size: 22px;
    }
    .about_text_par {
        font-size: 18px;
    }
    .about_text_suptitle {
        font-size: 20px;
        margin: 10px 0px;
        text-align: right;
        letter-spacing: 1px;
    }
    .rooms_item {
        width: 100%;
    }
    #rooms_item_bot {
        margin: 20px 0px;
    }
    .rooms_btn a {
        display: inline;
    }
    .photo_wrapper {
        border-bottom: 1px solid #000;
    }
    .photo {
        margin: 30px 0px;
    }
    .photo_title {
        margin: 20px 0px;
    }
    .photo_item {
        width: 50%;
        height: 250px;
    }
    .spoiler_wrapper {
        margin: 30px 0px;
    }
    .spoiler_title {
        margin: 20px 0px 20px 0px;
    }
    .spoiler_item {
        margin: 40px 30px;
    }
    .spoiler_item h3 {
        font-size: 16px;
        padding-left: 15px;
        line-height: 1.3;
    }
    .spoiler_item p {
        line-height: 1.2;
    }
    .map_item {
        margin: 30px 30px;
    }
    .map {
        width: 400px;
        height: 300px;
    }
    .map iframe {
        transform: translateX(-20%);
    }
    .map_info {
        margin: 30px 0px;
    }
    .map_question {
        padding: 15px 15px;
    }
    .map_question input {
        padding: 7px 50px 7px 15px;
    }
    .map_text {
        padding: 5px 60px 5px 15px;
    }
    .map_question button {
        font-size: 14px;
    }
    .footer {
        text-align: center;
    }
    .footer_logo a {
        display: none;
    }
    .footer_polit a {
        font-size: 14px;
    }
    .modal_basket {
        padding: 0px;
    }
    .modal_basket_wrapper {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .info_main {
        width: 100%;
        margin: 0 auto;
    }
    .footer_doc a {
        font-size: 14px;
    }
    .photo_item {
        width: 100%;
        height: auto;
    }
    .modal_rooms {
        height: 450px;
    }
    .modal_work {
        display: block;
        width: 100%;
        height: 100%;
        padding: 50px 30px;
        text-align: center;
    }
    .modal_slider_item  {
        width: 100%;
        height: 400px;
    }
    .modal_slider_photo {
        width: 100%;
        border-radius: 15px;
    }
    .modal {
        height: 100%;
    }
    .modal_slider_photo {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 376px) {
    .header_text {
        margin-top: 30px 0px;
        padding: 0px;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5;
    }
    .header_subtext {
        width: 320px;
        font-size: 14px;
        margin: 20px 0px;
        letter-spacing: 0.7px;
        line-height: 1.2;
    }
    .info_subheader {
        font-size: 16px;
        margin: 30px 0px;
    }
    .about_text_title {

        font-size: 18px;
    }
    .about_text_par {
        font-size: 14px;
    } 
    .about_text_suptitle {
        font-size: 16px;
    }
    .photo {
        margin-top: 100px;
    }
    .spoiler_item {
        margin: 30px;
    }
    .spoiler_item h3 {
        font-size: 14px;
    }
    .spoiler_item p {
        margin: 20px 30px;
    }
    .map_info .mapEm {
        font-size: 16px;
    }
    .footer_doc a {
        font-size: 12px;
    }
    .footer_polit a{
        font-size: 12px;
    }
    .spoiler_item h3 {
        font-size: 12px;
        padding-left: 5px;
        line-height: 1.2;
    }
    .spoiler_item p {
        font-size: 12px;
        line-height: 1.2;
    }
    .modal_work {
        padding: 35px 25px;
    }
    .basket {
        display: none;
        width: 55px;
        height: 55px;
        top: 80px;
        right: 10px;
        background-color: rgb(223, 86, 0);
        border-radius: 50%;
        z-index: 900;
        border: 2px solid #000;
        transition: transform .2s ease-in;
    }
    .basket img{
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        top: 6px;
        left: 5px;
        color: aqua;
    }
}

